body{
display: flex;
padding: 50px 150px 357px 150px;
flex-direction: column;
gap: 10px;
background: #FFF;
}

/*Menu en position fixe*/
.list-style {
background: #EEE;
border-radius: 10px;
padding: 10px 20px 10px 20px;
overflow: hidden;
top: 0;
position: fixed;
z-index: 1;
}

.list-style a {
list-style: none;
}

.list-style a {
font-family: Verdana;
padding: 2px 10px;
font-size: 20px;
text-decoration: none;
color: #444;
border-radius: 5px;
}

.list-style a:hover {
background: #FFF;
}

.list-style .icon {
display: none;
}

main{
padding: 30px;
align-self: stretch;
border-radius: 15px;
background: var(--Grey, #F2F2F2);
}

h1{
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -10px;
}

.bloc{
display: flex;
align-items: flex-start;
gap: 30px;
align-self: stretch;
margin-top: 25px;
}

.card-main{
display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: center;
gap: 4px;
flex: 1 0 0;
border-radius: 20px;
background: #FFF;
min-width: 100px;

/* Shadow/Card */
box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.Rectangle20{
height: 124px;
align-self: stretch;
border-radius: 20px 20px 0px 0px;
border: 5px solid var(--White, #FFF);

}

.card-main_text{
align-self: stretch;
color: #000;

/* Card/Title */
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 15px;
}

h2{
margin-top: 0;
margin-bottom: -5px;
font-size: 1.3vw;
font-weight: bold;
}

p{
font-size: 1.1vw;
font-weight: 400;
}

.notation{
align-self: stretch;
margin-left: 15px;
margin-top: -10px;
margin-bottom: 15px;
}

.fa-star {
color: #0065FC;
}

.grey {
color: #7c77776b;
}

h3{
color: #000;

/* Title/Filter */
font-family: Raleway;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: -20px;
    margin-top: 30px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .slider_image{
    width: 40vw;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .bullets {
    text-align: center;
    margin-top: 20px;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

@media (max-width: 768px){
    body{
    padding: 30px 10px 0px 10px;
    }
    
    main{
    padding: 30px 10px 10px 10px;
    margin-top: 20px;
    }

    .bloc{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    }

    .card-main{
    min-width: 250px;
    max-width: 400px;
    margin: auto;
    }

    h2{
    font-size: 18px;
    }

    p{
    font-size: 14px;
    }
    
    /*gestion menu*/
    .list-style a:not(first) {display: none;}

    .list-style a.icon {
    float: right;
    display: block;
    }
    
    .list-style.responsive {position: fixed;}
    .list-style.responsive .icon {
    position: absolute;
    left: -5px;
    top: 0;
    }

    .list-style.responsive a {
    float: none;
    display: block;
    text-align: center;
    margin-left: 10px;
    }

    .slider_image{
        width: 86vw;
      }

}